USE [master]
GO
/****** Object:  Database [Railway]    Script Date: 14.05.2014 1:07:39 ******/
CREATE DATABASE [Railway]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Railway', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Railway.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Railway_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Railway_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Railway].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Railway]
GO
/****** Object:  StoredProcedure [dbo].[ClearRoadNet]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrey Kontorovich
-- Create date: 2014-05-13
-- Description:	Очищает и сбрасывает счетчик id
-- =============================================
CREATE PROCEDURE [dbo].[ClearRoadNet]	
AS
BEGIN
	delete from RoadNet
	DBCC CHECKIDENT (RoadNet, RESEED, 0)

END

GO
/****** Object:  StoredProcedure [dbo].[GetNetSegment]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrey Kontorovich
-- Create date: 2014-05-13
-- Description:	Достает цепочку по стартовой точке
-- =============================================
CREATE PROCEDURE [dbo].[GetNetSegment]
	-- Add the parameters for the stored procedure here
	@StartWaypointId int,
	@Forward bit = 1 	
AS
BEGIN
	SET NOCOUNT ON;
	if @Forward = 1
	begin
		if (select NextWaypointId from RoadNet where WaypointId = @StartWaypointId) is not null
		with rzd_net (Id, PrevWaypointId, WaypointId, NextWaypointId)
		as
		(
			select Id, PrevWaypointId, WaypointId, NextWaypointId from RoadNet where WaypointId=@StartWaypointId
			union all
			select X.Id, X.PrevWaypointId, X.WaypointId, X.NextWaypointId from RoadNet as X
			join rzd_net on rzd_net.NextWaypointId = X.WaypointId
		)
		select * from rzd_net
	end
	else
	begin
		if (select PrevWaypointId from RoadNet where WaypointId = @StartWaypointId) is not null
		with rzd_net (Id, PrevWaypointId, WaypointId, NextWaypointId)
		as
		(
			select Id, PrevWaypointId, WaypointId, NextWaypointId from RoadNet where WaypointId=@StartWaypointId
			union all
			select X.Id, X.PrevWaypointId, X.WaypointId, X.NextWaypointId from RoadNet as X
			join rzd_net on rzd_net.PrevWaypointId = X.WaypointId
		)
		select * from rzd_net
	end
END

GO
/****** Object:  StoredProcedure [dbo].[GetNetSegmentsByStationId]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrey Kontorovich
-- Create date: 2014-05-13
-- Description:	Получает набор путей для станции
-- =============================================
CREATE PROCEDURE [dbo].[GetNetSegmentsByStationId]
	-- Add the parameters for the stored procedure here
	@StationId int
AS
BEGIN
	SET NOCOUNT ON;

	declare @wayId int
	declare waypoint_cursor cursor for 
		select Waypoint.Id from Waypoint
		join Station on Waypoint.StationId = Station.Id where Station.Id = @StationId

	open waypoint_cursor
	fetch next from waypoint_cursor into @wayId
	while @@FETCH_STATUS = 0
	begin
		exec GetNetSegment @StartWaypointId = @wayId, @Forward = 1

		declare @segment  table (id int, prevWayId int, wayId int, nextId int);
		insert into @segment exec GetNetSegment @StartWaypointId = @wayId, @Forward = 0
		if (select count(*) from @segment) > 0
			select Id, nextId as PrevWaypointId, wayId as WaypointId, prevWayId as NextWaypointId from @segment
		delete from @segment
		fetch next from waypoint_cursor into @wayId
	end
	close waypoint_cursor
	deallocate waypoint_cursor
END

GO
/****** Object:  StoredProcedure [dbo].[GetStationsOnSegmentsByStationId]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrey Kontorovich
-- Create date: 2014-05-13
-- Description:	Возвращает станции на доступных из старта сегментах
-- =============================================
CREATE PROCEDURE [dbo].[GetStationsOnSegmentsByStationId]
	-- Add the parameters for the stored procedure here
	@StationId int
AS
BEGIN
	SET NOCOUNT ON;

	declare @wayId int
	declare waypoint_cursor cursor for 
		select Waypoint.Id from Waypoint
		join Station on Waypoint.StationId = Station.Id where Station.Id = @StationId

	open waypoint_cursor
	fetch next from waypoint_cursor into @wayId
	while @@FETCH_STATUS = 0
	begin
		declare @segment  table (id int, prevWayId int, wayId int, nextWayId int);

		insert into @segment exec GetNetSegment @StartWaypointId = @wayId, @Forward = 1
		if (select count(*) from @segment) > 0
			select s.wayId as WaypointId, 			
			ws.StationId as StationId, ws.StationName as StationName			
			from @segment as s
			join WaypointStation as ws on ws.WaypointId = s.wayId
		delete from @segment

		insert into @segment exec GetNetSegment @StartWaypointId = @wayId, @Forward = 0
		if (select count(*) from @segment) > 0
			select s.wayId as WaypointId,
			ws.StationId as StationId, ws.StationName as StationName
			from @segment as s
			join WaypointStation as ws on ws.WaypointId = s.wayId

		delete from @segment
		fetch next from waypoint_cursor into @wayId
	end
	close waypoint_cursor
	deallocate waypoint_cursor

    
END

GO
/****** Object:  StoredProcedure [dbo].[GetStationsOnSegmentsByStationIdFull]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andrey Kontorovich
-- Create date: 2014-05-13
-- Description:	Возвращает станции на доступных из старта сегментах
-- =============================================
CREATE PROCEDURE [dbo].[GetStationsOnSegmentsByStationIdFull]
	-- Add the parameters for the stored procedure here
	@StationId int
AS
BEGIN
	SET NOCOUNT ON;

	declare @wayId int
	declare waypoint_cursor cursor for 
		select Waypoint.Id from Waypoint
		join Station on Waypoint.StationId = Station.Id where Station.Id = @StationId

	open waypoint_cursor
	fetch next from waypoint_cursor into @wayId
	while @@FETCH_STATUS = 0
	begin
		declare @segment  table (id int, prevWayId int, wayId int, nextWayId int);

		insert into @segment exec GetNetSegment @StartWaypointId = @wayId, @Forward = 1
		if (select count(*) from @segment) > 0
			select s.id as Id, s.prevWayId as PrevWaypointId, s.wayId as WaypointId, s.nextWayId as NextWaypointId, 
			wsprev.StationId as PrevStationId, wsprev.StationName as PrevStationName,
			ws.StationId as StationId, ws.StationName as StationName,
			wsnext.StationId as NextStationId, wsnext.StationName as NextStationName
			from @segment as s
			join WaypointStation as ws on ws.WaypointId = s.wayId
			left join WaypointStation as wsprev on wsprev.WaypointId = s.prevWayId
			left join WaypointStation as wsnext on wsnext.WaypointId = s.nextWayId
		delete from @segment

		insert into @segment exec GetNetSegment @StartWaypointId = @wayId, @Forward = 0
		if (select count(*) from @segment) > 0
			select s.id as Id, s.nextWayId as PrevWaypointId, s.wayId as WaypointId, s.prevWayId as NextWaypointId, 
			wsnext.StationId as PrevStationId, wsnext.StationName as PrevStationName,
			ws.StationId as StationId, ws.StationName as StationName,
			wsprev.StationId as NextStationId, wsprev.StationName as NextStationName
			from @segment as s
			join WaypointStation as ws on ws.WaypointId = s.wayId
			left join WaypointStation as wsprev on wsprev.WaypointId = s.prevWayId
			left join WaypointStation as wsnext on wsnext.WaypointId = s.nextWayId

			--select Id, nextWayId as PrevWaypointId, wayId as WaypointId, prevWayId as NextWaypointId from @segment
		delete from @segment
		fetch next from waypoint_cursor into @wayId
	end
	close waypoint_cursor
	deallocate waypoint_cursor

    
END

GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IdentityNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Passenger] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoadNet]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadNet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WaypointId] [int] NOT NULL,
	[PrevWaypointId] [int] NULL,
	[NextWaypointId] [int] NULL,
 CONSTRAINT [PK_RoadNet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Route]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartStation] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndStation] [int] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Station]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PassengerId] [int] NULL,
	[Price] [money] NOT NULL,
	[WagonId] [int] NOT NULL,
	[RouteId] [int] NOT NULL,
	[BuyDate] [datetime] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Train]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MaxWagonCount] [int] NOT NULL,
	[DriverId] [int] NULL,
	[CurrentStationId] [int] NOT NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wagon]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wagon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaxPassengerCount] [int] NOT NULL,
	[PassengerCount] [int] NOT NULL,
	[TrainId] [int] NULL,
	[ConductorId] [int] NULL,
 CONSTRAINT [PK_Wagon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Waypoint]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waypoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StationId] [int] NOT NULL,
 CONSTRAINT [PK_Waypoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Worker]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[LengthOfService] [int] NOT NULL,
	[Salary] [money] NOT NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[WaypointStation]    Script Date: 14.05.2014 1:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WaypointStation]
AS
SELECT        dbo.Station.Id AS StationId, dbo.Waypoint.Id AS WaypointId, dbo.Station.Name AS StationName
FROM            dbo.Station INNER JOIN
                         dbo.Waypoint ON dbo.Station.Id = dbo.Waypoint.StationId

GO
SET IDENTITY_INSERT [dbo].[RoadNet] ON 

INSERT [dbo].[RoadNet] ([Id], [WaypointId], [PrevWaypointId], [NextWaypointId]) VALUES (1, 1, NULL, 5)
INSERT [dbo].[RoadNet] ([Id], [WaypointId], [PrevWaypointId], [NextWaypointId]) VALUES (2, 5, 1, 6)
INSERT [dbo].[RoadNet] ([Id], [WaypointId], [PrevWaypointId], [NextWaypointId]) VALUES (3, 6, 5, 7)
SET IDENTITY_INSERT [dbo].[RoadNet] OFF
SET IDENTITY_INSERT [dbo].[Station] ON 

INSERT [dbo].[Station] ([Id], [Name]) VALUES (1, N'Минск-Пассажирский')
INSERT [dbo].[Station] ([Id], [Name]) VALUES (2, N'Минск-Восточный')
INSERT [dbo].[Station] ([Id], [Name]) VALUES (3, N'Степянка')
SET IDENTITY_INSERT [dbo].[Station] OFF
SET IDENTITY_INSERT [dbo].[Waypoint] ON 

INSERT [dbo].[Waypoint] ([Id], [StationId]) VALUES (1, 1)
INSERT [dbo].[Waypoint] ([Id], [StationId]) VALUES (2, 1)
INSERT [dbo].[Waypoint] ([Id], [StationId]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[Waypoint] OFF
ALTER TABLE [dbo].[RoadNet]  WITH CHECK ADD  CONSTRAINT [FK_RoadNet_Waypoint] FOREIGN KEY([WaypointId])
REFERENCES [dbo].[Waypoint] ([Id])
GO
ALTER TABLE [dbo].[RoadNet] CHECK CONSTRAINT [FK_RoadNet_Waypoint]
GO
ALTER TABLE [dbo].[RoadNet]  WITH CHECK ADD  CONSTRAINT [FK_RoadNet_Waypoint_Next] FOREIGN KEY([NextWaypointId])
REFERENCES [dbo].[Waypoint] ([Id])
GO
ALTER TABLE [dbo].[RoadNet] CHECK CONSTRAINT [FK_RoadNet_Waypoint_Next]
GO
ALTER TABLE [dbo].[RoadNet]  WITH CHECK ADD  CONSTRAINT [FK_RoadNet_Waypoint_Prev] FOREIGN KEY([PrevWaypointId])
REFERENCES [dbo].[Waypoint] ([Id])
GO
ALTER TABLE [dbo].[RoadNet] CHECK CONSTRAINT [FK_RoadNet_Waypoint_Prev]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Passenger] FOREIGN KEY([PassengerId])
REFERENCES [dbo].[Passenger] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Passenger]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Route] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Route] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Route]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Wagon] FOREIGN KEY([WagonId])
REFERENCES [dbo].[Wagon] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Wagon]
GO
ALTER TABLE [dbo].[Train]  WITH CHECK ADD  CONSTRAINT [FK_Train_Station] FOREIGN KEY([CurrentStationId])
REFERENCES [dbo].[Station] ([Id])
GO
ALTER TABLE [dbo].[Train] CHECK CONSTRAINT [FK_Train_Station]
GO
ALTER TABLE [dbo].[Train]  WITH CHECK ADD  CONSTRAINT [FK_Train_Worker] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Worker] ([Id])
GO
ALTER TABLE [dbo].[Train] CHECK CONSTRAINT [FK_Train_Worker]
GO
ALTER TABLE [dbo].[Wagon]  WITH CHECK ADD  CONSTRAINT [FK_Wagon_Train] FOREIGN KEY([TrainId])
REFERENCES [dbo].[Train] ([Id])
GO
ALTER TABLE [dbo].[Wagon] CHECK CONSTRAINT [FK_Wagon_Train]
GO
ALTER TABLE [dbo].[Wagon]  WITH CHECK ADD  CONSTRAINT [FK_Wagon_Worker] FOREIGN KEY([ConductorId])
REFERENCES [dbo].[Worker] ([Id])
GO
ALTER TABLE [dbo].[Wagon] CHECK CONSTRAINT [FK_Wagon_Worker]
GO
ALTER TABLE [dbo].[Waypoint]  WITH CHECK ADD  CONSTRAINT [FK_Waypoint_Station] FOREIGN KEY([StationId])
REFERENCES [dbo].[Station] ([Id])
GO
ALTER TABLE [dbo].[Waypoint] CHECK CONSTRAINT [FK_Waypoint_Station]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Station"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Waypoint"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 102
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WaypointStation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WaypointStation'
GO
USE [master]
GO
